<%- include("header") -%>

<h2>this is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam qui possimus laudantium odio? Quasi fugit mollitia error autem vitae, itaque corporis officia facilis. Facere dolorem expedita tempora voluptas rerum. Quia.</p>


<%- include ("footer") -%>